//- Mixins

mixin list-filter(data, name)
  a.waves-effect.waves-light.btn.green.accent-3(data-card=data)= name

mixin list-works(items, url)
  .col.s12.m6.l4.work(class=items)
    .card
      .card-image
        img.work_img.img-responsive(src=url alt=items[0])
        .card-content
          each val, index in items
            if  (index == items.length -1)
              em= val +"."
            else
              em= val +","

// Portfolio
section#portfolio
  h2 My 
    span.green-text.text-accent-3 Portfolio
  .portfolio
    .row
      .col.s12.m12.l12.center-align#filters
        +list-filter("work","Show All")
        +list-filter("websites","websites")
        +list-filter("design","design")
        +list-filter("print","print")
        +list-filter("marketing","marketing")
        +list-filter("app","app")
    .row#works
      +list-works(['websites'],"https://scontent.fbog4-1.fna.fbcdn.net/v/t1.0-9/27458907_10155301057259103_5720822062552879501_n.jpg?oh=ea068c76774f4459c801bdfdc1bd6ec3&oe=5B1C92F7")
      +list-works(['marketing','websites'],"https://scontent.fbog4-1.fna.fbcdn.net/v/t1.0-9/27336902_10155301057234103_108799471956847161_n.jpg?oh=41935cad29eda116ffea379ab21b082e&oe=5AD9B082")
      +list-works(['print', 'design','app'],"https://scontent.fbog4-1.fna.fbcdn.net/v/t1.0-9/27337348_10155301057374103_1258125119425602243_n.jpg?oh=948ca222565a8cdb771797b5e3bc6e65&oe=5B17B0EB")
      +list-works(['design','marketing'],"https://scontent.fbog4-1.fna.fbcdn.net/v/t1.0-9/27332059_10155301057404103_2481227891324051155_n.jpg?oh=b1c8328e88902be5b58591ea3da3d81a&oe=5AEB6746")
      +list-works(['app', 'marketing'],"https://scontent.fbog4-1.fna.fbcdn.net/v/t1.0-9/27749789_10155301081294103_2518138029879451312_n.jpg?oh=354e7479ed7afaa3737ed9bb9a87eb1f&oe=5B1B5595")
